# Ignore as much as possible to avoid leaking private files
**/*

## Add the exceptions

# Alpine Linux packaging files
!Dockerfile.apk
!.abuild/abuild.conf
!.abuild/*.rsa.pub
!APKBUILD

# The source files
!scripts/entrypoint-apk.sh
